@import url('https://cdn.syncfusion.com/ej2/material.css');
#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center
}


.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
}
.nav-item,
.navbar {
  z-index: 10000;
}
@media  screen and (max-width:800px) {
  .sidebar{
    z-index: 10000000;
  }
}

.e-dlg-center-center, .e-quick-popup-wrapper.e-device{
  z-index: 1000000 !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* color-picker style  */

 #preview {
  background: transparent
    url('https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen.png')
    no-repeat;
  display: inline-block;
  height: 80px;
  margin: 10px 0;
  min-width: 300px;
  max-width: 600px;
  background-color: #008000;
}

.e-input-group:not(.e-float-icon-left), .e-input-group.e-success:not(.e-float-icon-left), .e-input-group.e-warning:not(.e-float-icon-left), .e-input-group.e-error:not(.e-float-icon-left), .e-input-group.e-control-wrapper:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left){
  border: none;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

/* .card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


.rbc-event {
  color: #ffffff;
  font-weight: 700;
  /* background-color: #c33f3f; */
}

.rbc-selected {
  font-size: 18px;
  color: #ffffff;
  background-color: #11b563 !important;
  font-weight: 700;
  /* border-radius: 8px; */

}

.rbc-month-row {
  border: none !important;
  /* border-width: 2px  !important; */
  /* border-radius: 5px !important;/ */
}

.rbc-day-bg {
  border-radius: 8px !important;
  border: none !important;

  /* padding: 10px !important; */
  margin: 3px  !important;
  box-shadow: 2px 2px rgb(209 213 219);
  /* border-width: 4px  !important; */
  /* border-right-width: 8px !important; */
  background-color: rgb(232, 232, 232);
  --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));

  /* --tw-border-opacity: 1  !important; */
  /* border-color: rgb(229 231 235 / var(--tw-border-opacity))  !important; */
  
}

.rbc-today {
  background-color: #a3ddc0 !important;
}

.rbc-off-range-bg {
  /* background-color: rgb(185, 184, 184); */
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity));
  font: white !important;
}

.rbc-month-view {
  border: none !important;
  /* border-right-width: 4px !important; */
  /* border-width: 2px  !important; */
  /* border-radius: 5px !important; */
  /* margin: 2px  !important; */
}

.rbc-date-cell {
  padding: 2px !important;
  padding-right: 8px !important;
}

.rbc-button-link {
  font-weight: bold;
  font-size: 15px;
  margin-top: 5px;
  margin-right: 2px;
}

.rbc-header {
  background-color: dodgerblue !important;
  color: white;
  border-radius: 8px !important;
  border: none !important;
  margin: 3px  !important;
  padding: 3px !important;

  /* margin-bottom: 8px !important; */
  
}

.rbc-toolbar-label {
  font-weight: bold !important;
  font-size: 28px !important;
  color: rgb(120 113 108) !important;
}

.rbc-btn-group {
   border-radius: 8px !important;
   background-color: dodgerblue!important;
}

.rbc-btn-group button {
  border: none !important;
  /* background-color: #bbbbbb !important; */
  background-color: dodgerblue !important;
  border-radius: 8px !important;
  /* margin: 2px  !important; */
  color: white !important;
  font-weight: bold;
  
}

.rbc-btn-group button:active {
  background-color: #11b563 !important;
  color: white;
}

